<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.team28.daoyunapp">
    <!-- 进程杀死 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许程序访问额外的定位提供者指令获取模拟定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 写sd卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".MyApp"
            android:allowBackup="false"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:ignore="LockedOrientationActivity"
            tools:targetApi="n">

        <activity
                android:name=".activity.SplashActivity"
                android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Launch.App"
                android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
                android:name=".activity.LoginActivity"
                android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateHidden" /> <!-- 通用浏览器 -->
        <activity
                android:name=".activity.RegisterActivity"
                android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
                android:name=".activity.CourseDetailActivity"
                android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
                android:name=".core.webview.AgentWebActivity"
                android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
                android:hardwareAccelerated="true"
                android:label="@string/app_browser_name"
                android:theme="@style/AppTheme">

            <!-- Scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.xuexiang.xui.applink" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <!-- 设置自己的deeplink -->
                <!-- <data -->
                <!-- android:host="xxx.com" -->
                <!-- android:scheme="xui"/> -->
            </intent-filter>
            <!-- AppLink -->
            <intent-filter
                    android:autoVerify="true"
                    tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
                <!-- 设置自己的applink -->
                <!-- <data -->
                <!-- android:host="xxx.com" -->
                <!-- android:scheme="http"/> -->
                <!-- <data -->
                <!-- android:host="xxx.com" -->
                <!-- android:scheme="https"/> -->
            </intent-filter>
        </activity> <!-- fragment的页面容器 -->
        <activity
                android:name=".core.BaseActivity"
                android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateHidden" /> <!-- 版本更新提示 -->
        <activity
                android:name=".utils.update.UpdateTipDialog"
                android:screenOrientation="portrait"
                android:theme="@style/DialogTheme" /> <!-- Webview拦截提示弹窗 -->
        <activity
                android:name=".core.webview.WebViewInterceptDialog"
                android:screenOrientation="portrait"
                android:theme="@style/DialogTheme" /> <!-- applink的中转页面 -->
        <activity
                android:name=".core.XPageTransferActivity"
                android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateHidden" /> <!-- 屏幕自适应设计图 -->
        <meta-data
                android:name="design_width_in_dp"
                android:value="360" />
        <meta-data
                android:name="design_height_in_dp"
                android:value="640" />

        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="759b82lZAo3ZKBN1Yws37D0TDbtMcoRl" />

        <!--定义百度地图的服务，用于定位-->
        <service android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote">
        </service>
    </application>

</manifest>